:root {
    --main-color: #fffc3c;
    --secondary-color: #1e0c18;
    --nav-hover: #471d39;
}

@font-face {
    font-family: main;
    src: url(../fonts/SpecialGothicCondensedOne-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    font-family: main;
}

#current {
    background-color: var(--nav-hover);
}

h1 {
    text-align: center;
    font-size: 38px;
}

header {
    height: 300px;
    width: 300px;
    margin: auto;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.headers {
    display: grid;
}

.knowledge {
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.left {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr, 2fr;
    align-items: center;
}

.left .headers h2 {
    font-size: 36px;
    justify-self: center;
}

.left .headers h3 {
    font-size: 26px;
    justify-self: center;
    margin: 0;
}

.left .headers h2, .left ul {
    margin: 5px;
}

.left ul li {
    align-self: stretch;
    font-size: 22px;
}

nav {
    max-width: 750px;
    margin: auto;
    display: flex;
    gap: 5px;
    font-size: 24px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

nav a {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    text-decoration: none;
    color: var(--main-color);
    border-radius: 10px;
}

nav a:hover {
    background-color: var(--nav-hover);
}

.right {
    display: flex;
    align-items: center;
}

.right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}