a {
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 22px;
}

.bigger {
    font-size: 26px !important;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 28px;
}

.controls {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    gap: 5px;
    margin-top: 5px;
}

.game {
    flex-grow: 1;
    flex-basis: 0; 
    display: grid;
    grid-template-columns: repeat(3, 1fr) 50px 1fr;
    align-items: center;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.game p {
    justify-self: center;
    font-size: 20px;
}

.game img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px;
    justify-self: center;
}

.matches {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

#matches-status {
    text-align: center;
}

#status {
    text-align: center;
    font-size: 20px;
}

.team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    align-items: center;
    border: 2px solid var(--main-color);
}

.team img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    justify-self: center;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 10px;
}

.team ul {
    list-style: none;
}

.team ul li {
    font-size: 18px;
}

.qualied-teams {
    max-width: 1200px;
    margin: auto;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 10px;
}